<Section class="about">
    <div class="about__container">
        <div class="about__box">
            <fieldset class="about__border">
                <legend align="center">&emsp;&emsp;&emsp;&emsp;ABOUT US&emsp;&emsp;&emsp;&emsp;</legend>
                <p class="about__text-first">When you
                    work
                    with
                    us, you are
                    part of a team of committed
                    collaborators.<br>
                    All aspects of our software development process are integrated, iterative and<br> agile.</p>
                <p class="about__text-second">Our approach unifies design, development and<br>
                    product management to create exceptional products.<br>
                    We start each project by understanding your business goals,<br>
                    the user’s needs and the product requirements.<br>
                    Then we help translate them into effective and elegant solutions.
                </p>
            </fieldset>
        </div>
    </div>
</Section>