<header class="header container">
    <section class="header__box">
        <div class="logo header__logo"><img src="../images/logo.svg" alt="logo"></div>
        <h1 class="header__title">WORKING<br>
            WITH DESIGN LAB
        </h1>
        <p class="header__text">We’ve been helping startups
            launch and grow their businesses.<br>We help you to fill the gap
            between development,<br>
            design and product management.</p>
        <a href="#about" class="scroll header__scroll"></a>
    </section>
</header>