<header class="header container">
    <section class="header__box">
        <div class="logo header__logo"><img src="../images/logo.svg" alt="logo"></div>
        <h1 class="header__title">WORKING&emsp;&emsp;&emsp;
            WITH DESIGN LAB
        </h1>
        <p class="header__text">We’ve been helping startups launch and grow their businesses. We help you to fill the
            gap
            between development,
            design and product management.</p>
        <a href="" class="scroll"></a>
    </section>
</header>