<section class="what-we-do">
    <div class="what-we-do__container">
        <div class="what-we-do__box">
            <fieldset class="what-we-do__border">
                <legend align="center">&emsp;&emsp;&emsp;WHAT WE DO&emsp;&emsp;&emsp;</legend>
                <div class="what-we-do__design-box">
                    <div class="what-we-do__picture-wrapper">
                        <img class="what-we-do__picture" src="../images/design.svg" alt="DESIGN">
                    </div>
                    <p class="what-we-do__title">DESIGN</p>
                    <p class="what-we-do__text">Our design practice offers a full range of services including branding
                        strategy,<br>
                        interaction and visual design and user experience testing.<br>
                        Throughout your project, our designers create and implement visual designs and workflows,<br>
                        solicit user feedback, and work with you to make sure what gets built is what is needed.
                    </p>
                </div>
                <div class="what-we-do__development-box">
                    <div class="what-we-do__picture-wrapper">
                        <img class="what-we-do__picture" src="../images/Development.svg" alt="DEVELOPMENT">
                    </div>
                    <p class="what-we-do__title">DEVELOPMENT</p>
                    <p class="what-we-do__text">All engineers are fluent in the latest enterprise, mobile and web
                        development technologies.<br>
                        They collaborate with your team to write, test, and improve code on a daily basis, using<br>
                        proven
                        practices such as test-driven development and pair programing.</p>
                </div>
                <div class="what-we-do__product-managment-box">
                    <div class="what-we-do__picture-wrapper">
                        <img class="what-we-do__picture" src="../images/Product Management.svg" alt="PRODUCT MANAGMENT">
                    </div>
                    <p class="what-we-do__title">PRODUCT MANAGMENT</p>
                    <p class="what-we-do__text">Planning and development is iterative. Because we are constantly coding
                        and testing, the<br> products we build are always ready to go live. This iterative process
                        allows for changes as<br> business requirements evolve. </p>
                </div>
            </fieldset>
        </div>
    </div>
</section>