%container {
  max-width: $max-width;
  margin: 0 auto;
}

%padding-container {
  padding-top: 160px;
  padding-bottom: 160px;
}
%box {
  display: block;
  width: 900px;
  margin: 0 auto;
}
%flex-center {
  display: flex;
  justify-content: center;
}
%img-setting {
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-left: 47px;
  padding-top: 170px;
}
