%container {
  max-width: $max-width;
  margin: 0 auto;
}

%padding-container {
  padding-top: 25px;
  padding-bottom: 25px;
}
%box {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}
%flex-center {
  display: flex;
  justify-content: center;
}
%img-setting {
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 100px;
  text-align: center;
}
%img-hover {
  cursor: pointer;
  transition: 1s;
}
