// color //
$btn-color: #393939;
$text-black-color: #393939;
$text-white-color: white;
$bg-white-color: white;
$border-white-color: white;
$border-black-color: #393939;
$bg-btn-color: #393939;

$max-width: 1920px;

// text //
@function calcRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
$H700: calcRem(54px);
$H600: calcRem(34px);
$H500: calcRem(30px);
$H400: calcRem(20px);
$H350: calcRem(18px);
$H300: calcRem(16px);
$H200: calcRem(15px);
$H100: calcRem(14px);
$H50: calcRem(11px);

$base-font: "Lato";

// screen //
$screen-iphone: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;
