.about {
  &__container {
    @extend %padding-container;
    @media screen and (min-width: $screen-desktop) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &__box {
    @extend %box;
  }
  &__border {
    @include text($H350, 700, $text-black-color);
    padding-top: 24px;
    border: 2px solid $border-black-color;
    @media screen and (min-width: $screen-tablet) {
      @include text($H600, 700, $text-black-color);
    }
    @media screen and (min-width: $screen-desktop) {
      @include text($H600, 700, $text-black-color);
      padding-top: 65px;
    }
  }
  &__legend-align {
    text-align: center;
  }
  &__text-first {
    @include text($H300, 400, $text-black-color);
    text-align: center;
    line-height: 24px;
    max-width: 560px;
    margin: 0 auto;
    @extend %text-padding-lrb;
    text-align: center;

    line-height: 24px;
    @media screen and (min-width: $screen-tablet) {
      padding-bottom: 34px;
    }
  }
  &__text-second {
    @include text($H300, 400, $text-black-color);
    text-align: center;
    line-height: 24px;
    max-width: 447px;
    margin: 0 auto;
    @extend %text-padding-lrb;
    text-align: center;
    line-height: 24px;
    @media screen and (min-width: $screen-tablet) {
      padding-bottom: 34px;
    }
  }
  &__text-title {
    padding-left: 25px;
    padding-right: 27px;
    @media screen and (min-width: $screen-tablet) {
      padding-left: 105px;
      padding-right: 107px;
    }
  }
}
