.footer {
  &__container {
    @extend %padding-container;
    @media screen and (min-width: $screen-desktop) {
      padding-top: 134px;
      padding-bottom: 65px;
    }
  }
  &__box {
    @extend %box;
  }
  &__border {
    @include text($H350, 700, $text-black-color);
    padding-top: 24px;
    border: 2px solid $border-black-color;
    margin-bottom: 24px;
    @media screen and (min-width: $screen-tablet) {
      @include text($H600, 700, $text-black-color);
    }
    @media screen and (min-width: $screen-desktop) {
      @include text($H600, 700, $text-black-color);
      padding-top: 65px;
      margin-bottom: 60px;
    }
  }
  &__text {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
    @include text($H300, 400, $text-black-color);
    line-height: 26px;
    @extend %text-padding-lrb;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 34px;
    }
    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 46px;
    }
  }
  &__container-button {
    @extend %flex-center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;

    @media screen and (min-width: $screen-tablet) {
      width: 42%;
    }
    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 48px;
    }
  }
  &__button {
    border: none;
    text-decoration: none;
    outline: none;
    padding: 12px 24px;
    @include text($H300, 300, $text-white-color);
    color: $text-white-color;
    background-color: $bg-btn-color;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease;
  }
  &__box-end {
    display: flex;
    justify-content: center;
  }
  &__image-wrapper {
    margin-right: 35px;
  }
  &__text-end {
    @include text($H50, 700, $text-black-color);
    @media screen and (min-width: $screen-iphone) {
      @include text($H50, 700, $text-black-color);
    }
  }
  &__text-title {
    padding-left: 100px;
    padding-right: 93px;
  }
}
