.gallery {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;
    grid-auto-rows: 237px;
    grid-gap: 10px;
  }
  &__img1 {
    background-image: url(../images/topworkz.png);
    @extend %img-setting;
    @include text($H600, 700, $text-white-color);
  }
  &__img1:hover {
    @extend %img-hover;
    transform: translateX(10px);
  }
  &__img2 {
    background-image: url(../images/joint.png);
    @extend %img-setting;
    @include text($H600, 700, $text-white-color);
  }
  &__img2:hover {
    @extend %img-hover;
    transform: scale(1.035);
  }
  &__img3 {
    background-image: url(../images/market.png);
    @extend %img-setting;
    @include text($H600, 700, $text-white-color);
  }
  &__img3:hover {
    @extend %img-hover;
    transform: translateX(-10px);
  }
  &__img4 {
    background-image: url(../images/worktop.png);
    @extend %img-setting;
    @include text($H600, 700, $text-white-color);
  }
  &__img4:hover {
    @extend %img-hover;
    transform: translateX(10px);
  }
  &__img5 {
    background-image: url(../images/lable.png);
    @extend %img-setting;
    @include text($H600, 700, $text-white-color);
  }
  &__img5:hover {
    @extend %img-hover;
    transform: scale(1.035);
    z-index: 1;
  }
  &__img6 {
    background-image: url(../images/kyiv.png);
    @extend %img-setting;
    @include text($H600, 700, $text-white-color);
  }
  &__img6:hover {
    @extend %img-hover;
    transform: translateX(-10px);
  }
}
