.header {
  @extend %container;
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 100vh;
  &__box {
    max-width: 574px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    @extend %flex-center;
    padding-top: 23%;
    margin-bottom: 5%;
  }
  &__title {
    @include text($H700, 700, $text-white-color);
    text-align: center;
    margin-bottom: 55px;
  }
  &__text {
    max-width: 574px;
    @include text($H200, 400, $text-white-color);
    text-align: center;
    margin-bottom: 50px;
  }
  &__scroll {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
  }
}
