.services {
  background-image: url(../images/services.png);
  background-size: cover;
  background-position: center center;
  position: relative;

  &__container {
    @extend %padding-container;
    @media screen and (min-width: $screen-desktop) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &__box {
    @extend %box;
  }
  &__border {
    @include text($H350, 700, $text-white-color);
    padding-top: 24px;
    border: 2px solid $border-white-color;
    color: $bg-white-color;
    @media screen and (min-width: $screen-tablet) {
      @include text($H600, 700, $text-white-color);
    }
    @media screen and (min-width: $screen-desktop) {
      @include text($H600, 700, $text-white-color);
      padding-top: 65px;
    }
  }
  &__text {
    @include text($H300, 400, $text-black-color);
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
    color: $bg-white-color;
    line-height: 24px;
    @extend %text-padding-lrb;
    @media screen and (min-width: $screen-tablet) {
      padding-bottom: 34px;
    }
  }
  &__border-title {
    padding-left: 35px;
    padding-right: 33px;
    @media screen and (min-width: $screen-tablet) {
      padding-left: 115px;
      padding-right: 113px;
    }
  }
}
