.what-we-do {
  &__container {
    @extend %padding-container;
    @media screen and (min-width: $screen-desktop) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &__box {
    @extend %box;
  }
  &__border {
    @include text($H350, 700, $text-black-color);
    padding-top: 24px;
    border: 2px solid $border-black-color;
    @media screen and (min-width: $screen-tablet) {
      @include text($H600, 700, $text-black-color);
      padding-top: 65px;
    }
  }
  &__legend-align {
    text-align: center;
  }
  &__picture {
    margin-bottom: 12px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 45px;
    }
  }
  &__picture-wrapper {
    @extend %flex-center;
  }
  &__title {
    margin-bottom: 4px;
    text-align: center;
    @include text($H400, 700, $text-black-color);
    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 45px;
    }
  }
  &__text {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
    @include text($H100, 300, $text-black-color);
    line-height: 26px;
    @extend %text-padding-lrb;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 100px;
    }
  }
  &__border-title {
    padding-left: 15px;
    padding-right: 19px;
    @media screen and (min-width: $screen-tablet) {
      padding-left: 70px;
      padding-right: 74px;
    }
  }
}
